* {
    box-sizing: border-box;
    position: relative;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 16px;
    padding: 16px;
}

.margin-hr {
    margin-left: 16px;
    margin-right: 16px;
}

.white {
    background-color: white;
    border-radius: 24px;
}

body {
    font-family: "Roboto", sans-serif;
    /* background-image: linear-gradient(
        to top,
        #f3e7e9 0%,
        #e3eeff 99%,
        #e3eeff 100%
    ); */
    background-image: url("./assets/img/low-poly-grid-haikei.svg");
    background-size: cover;
}
/* FORMA HOME PAGE */
h1 {
    text-align: center;
    margin-bottom: 32px;
    color: white;
}
form {
    max-width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    gap: 32px;
    border: 2px solid;
    border-radius: 16px;
    padding: 48px;
    background-color: white;
}
.username-input {
    height: 32px;
    border-radius: 16px;
    border: 1px solid;
    padding: 8px;
    margin-top: 8px;
}

label {
    display: block;
}

.btn-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-submit {
    text-align: center;
    height: 32px;
    flex-basis: 50%;
    border-radius: 16px;
    border: 1px solid;
    background-color: white;
    margin: auto;
}
.radio-label {
    display: inline-block;
}
.radio-input {
    display: none;
}

.avatar-box {
    display: inline-block;
}
.avatar-png {
    border-radius: 48px;
}
.radio-input:checked + .avatar-png {
    border-radius: 48px;
    background-color: #0856cf;
}

/*ChatBox*/

.app-header {
    text-align: center;
    color: black;
}

.messages-list {
    padding: 0;
    margin: auto;
}

.messages-message {
    display: flex;
    margin-top: 10px;
    border-radius: 16px;
}

.chat-box {
    display: flex;
    align-items: center;
}

.current-chatter {
    flex-direction: row-reverse;
    text-align: right;
    color: black;
}
.fullchat {
    height: 65vh;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.other-chatter {
    color: black;
    width: fit-content;
}

.message-same {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 0px;
}

.current-chatter .message-content {
    background-color: #0856cf;
    padding: 16px;
    border-radius: 16px;
    margin-top: 8px;
    color: whitesmoke;
    text-align: right;
}

.other-chatter .message-content {
    background-color: #ed3030e0;
    padding: 16px;
    border-radius: 16px;
    margin-top: 8px;
    color: whitesmoke;
}

.username {
    font-weight: 700;
}

.avatar-box img {
    border-radius: 8px;
}
.current-chatter .username {
    padding-right: 4px;
}

.other-chatter .username {
    padding-left: 4px;
}

/* INPUT AREA */
.input-area {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 100%;
    padding-top: 30px;
}

.msg-input {
    flex-basis: 90%;
    height: 40px;
    border-radius: 16px 0 0 16px;
    border: 1px solid;
    padding: 8px;
}

.btn-send {
    flex-basis: 10%;
    min-width: 50px;
    height: 40px;
    border-radius: 0 16px 16px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 0px;
    background-color: white;
}

/*Services */

.Avatar1 {
    background-image: fixed center url(/src/assets/img/Avatar1.png);
}
.Avatar2 {
    background-image: fixed center url(/src/assets/img/Avatar2.png);
}
.Avatar3 {
    background-image: fixed center url(/src/assets/img/Avatar3.png);
}
.Avatar4 {
    background-image: fixed center url(/src/assets/img/Avatar4.png);
}
.Avatar5 {
    background-image: fixed center url(/src/assets/img/Avatar5.png);
}
.Avatar6 {
    background-image: fixed center url(/src/assets/img/Avatar6.png);
}

.nav-prompt {
    position: fixed;
    height: 100dvh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(245, 245, 245, 0.777);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-nav {
    padding: 10px 20px;
    background-color: #0856cf;
    border: 1px solid white;
    border-radius: 16px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
