* {
    box-sizing: border-box;
    position: relative;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    border-radius: 16px;
    padding: 16px;
}

.margin-hr {
    margin-left: 16px;
    margin-right: 16px;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fdfffc;
}
/* FORMA HOME PAGE */
.radio-label {
    display: inline-block;
}
.radio-input {
    display: none;
}

.avatar-box {
    display: inline-block;
}
.avatar-png {
    border-radius: 48px;
}
.radio-input:checked + .avatar-png {
    border-radius: 48px;
    background-color: aqua;
}

.messages-list {
    padding: 0;
    margin: auto;
}

/*ChatBox*/
.app-header {
    text-align: center;
    color: black;
}

.messages-message {
    display: flex;
    margin-top: 10px;
    border-radius: 16px;
}

.chat-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.current-chatter {
    flex-direction: row-reverse;
    text-align: right;
    color: black;
}
.fullchat{
    height: 70vh;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
  }
.other-chatter {
    color: black;
    width: fit-content;
}

.current-chatter .message-content {
    background-color: blue;
    padding: 16px;
    border-radius: 16px;
    margin-top: 8px;
    color: whitesmoke;
    text-align: right;
}

.other-chatter .message-content {
    background-color: red;
    padding: 16px;
    border-radius: 16px;
    margin-top: 8px;
    color: whitesmoke;
}

.username {
    font-weight: 700;
}

.avatar-box img{
    border-radius: 8px;
}
.current-chatter .username {
    padding-right: 4px;
}

.other-chatter .username {
    padding-left: 4px;
}

/* INPUT AREA */
.input-area {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 100%;
    padding-top: 30px;
}

.msg-input {
    flex-basis: 90%;
    height: 40px;
    border-radius: 16px 0 0 16px;
    border: 1px solid;
    padding: 8px;
}

.btn-send {
    flex-basis: 10%;
    min-width: 50px;
    height: 40px;
    border-radius: 0 16px 16px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 0px;
    background-color: white;
}

/*Services */

.Avatar1 {
    background-image: fixed center url(/src/assets/img/Avatar1.png);
}
.Avatar2 {
    background-image: fixed center url(/src/assets/img/Avatar2.png);
}
.Avatar3 {
    background-image: fixed center url(/src/assets/img/Avatar3.png);
}
.Avatar4 {
    background-image: fixed center url(/src/assets/img/Avatar4.png);
}
.Avatar5 {
    background-image: fixed center url(/src/assets/img/Avatar5.png);
}
.Avatar6 {
    background-image: fixed center url(/src/assets/img/Avatar6.png);
}
